<div class="row">
  <div class="col-12">
    <div class="card">
        <div class="card-body">
          <h4 class="card-title">Striped Progress bar</h4>
          <div class="progress m-t-20">
            <div  class="progress-bar bg-info progress-bar-striped active"  aria-valuemin="0" aria-valuemax="100" [style.width]="getProgress1" role="progressbar">
              <span class="sr-only"> {{progress1}} % Complete (success)</span>
            </div>
          </div>
          <div class="progress m-t-20">
            <div  class="progress-bar bg-primary progress-bar-striped active"  aria-valuemin="0" aria-valuemax="100" [style.width]="getProgress2" role="progressbar">
              <span class="sr-only"> {{progress2}} % Complete (success)</span>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <app-incrementador [valor]="progress1" [btnClass]="'btn btn-info'" (valor)="progress1 = $event"></app-incrementador>
      </div>
    </div>
  </div>
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <app-incrementador [valor]="progress2"  (valor)="progress2 = $event"></app-incrementador>
      </div>
    </div>
  </div>
</div>



