<div class="fondo-modal animated fadeIn fast" [class.oculto]="!modalService.getShowModal">
  <div class="modal fade show"  tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1" style="display: block;">
    <div class="modal-dialog" role="document" >
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel1">Actualizar Foto</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" (click)="hideModal()">×</span></button>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-lg-12 col-xlg-3 col-md-5">
                    <div class="card">
                      <div *ngIf="imgPrev" class="m-t-30 text-center">
                        <img [src]="imgPrev" class="img-circle img-upload" alt="prev">
                      </div>
                      <div *ngIf="!imgPrev" class="m-t-30 text-center">
                        <img [src]="modalService.img" class="img-circle img-upload" alt="prev">
                      </div>
                      <hr>
                      <div class="input-group">
                        <div class="input-group-addon"><i class="ti-image"></i></div>
                        <input type="file" class="form-control" id="pwd2" (change)="changeImg($event)"  placeholder="Enter email">
                      </div>
                    </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" (click)="hideModal()">Cerrar</button>
                <button  class="btn btn-primary" [disabled]="!imgUpload ? true : false" (click)="uploadImg()">Actualizar</button>
            </div>
        </div>
    </div>
  </div>
</div>
