<div class="row animated fadeIn fast">
  <div class="col-12">
      <div class="card">
          <div class="card-body">
            <div class="input-group">
              <div class="input-group-addon"><i class="ti-search"></i></div>
              <input type="text" class="form-control" placeholder="Buscar doctor..." (keyup)="searchDoctors(filter.value)" #filter>
            </div>
          </div>
      </div>
  </div>
</div>

<div class="row animated fadeIn fast" *ngIf="load">
  <div class="col-12">
      <div class="card">
          <div class="card-body">
            <div class="alert alert-info text-center">
              <h4 class="alert-heading">Cargando...</h4>
              <i class="fa fa-spin fa-refresh fa-2x"></i>
              <p class="mb-0">Por favor espere</p>
            </div>
          </div>
      </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Medicos</h4>
        <div class="col">
          <div class="text-right">
            <button class="bt btn-primary btn-sm" ><i class="fa fa-plus"></i> Crear Hospital</button>
          </div>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Foto</th>
                        <th>Nombre</th>
                        <th class="text-nowrap">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let doc of medicos">
                        <td class="w100"><img class="img-avatar cursor" [src]="doc.img | getImg:'medicos'" [alt]="doc.nombre" (click)="showModal(doc)"></td>
                        <td>{{doc.nombre}}</td>
                        <td class="text-nowrap w100">
                            <a [routerLink]="['/dashboard/medico',doc.id]" data-toggle="tooltip" data-original-title="Edit"> <i class="fa fa-pencil text-inverse m-r-10"></i> </a>
                            <a href="#" data-toggle="tooltip" data-original-title="Delete"> <i class="fa fa-close text-danger"></i> </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <button class="btn btn-secondary">Anterior</button>
        &nbsp;
        <button class="btn btn-secondary">Siguiente</button>
      </div>
    </div>
  </div>
</div>

