<div class="row animated fadeIn fast">
  <div class="col-12">
      <div class="card">
          <div class="card-body">
            <div class="input-group">
              <div class="input-group-addon"><i class="ti-search"></i></div>
              <input type="text" class="form-control"  (keyup)="getUsersFilter(filtro.value)" #filtro  placeholder="Buscar usuario...">
            </div>
          </div>
      </div>
  </div>
</div>

<div class="row animated fadeIn fast" *ngIf="usuarios.length <=0">
  <div class="col-12">
      <div class="card">
          <div class="card-body">
            <div class="alert alert-info text-center">
              <h4 class="alert-heading">Cargando...</h4>
              <i class="fa fa-spin fa-refresh fa-2x"></i>
              <p class="mb-0">Por favor espere</p>
            </div>
          </div>
      </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Usuarios</h4>
        <h6>Total de usuarios {{totalUsers}}</h6>
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th class="w100">Avatar</th>
                        <th>Nombre</th>
                        <th>Email</th>
                        <th>Rol</th>
                        <th class="w100">Auth</th>
                        <th class="text-nowrap w100">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of usuarios">
                        <td class="text-center"><img [src]="user.getUrlImg" class="img-avatar" [alt]="user.nombre"></td>
                        <td>{{user.nombre}}</td>
                        <td>{{user.email}}</td>
                        <td>
                          <select class="form-control w140">
                            <option value="USER_ROLE">User</option>
                            <option value="ADMIN_ROLE">Admin</option>
                          </select>
                        </td>
                        <td>
                          <span *ngIf="user.google" class="label label-success">Google</span>
                          <span *ngIf="!user.google" class="label label-primary">Email</span>
                        </td>
                        <td class="text-nowrap">
                            <a href="#" data-toggle="tooltip" data-original-title="Edit"> <i class="fa fa-pencil text-inverse m-r-10"></i> </a>
                            <a *ngIf="!(user.id === usuario.id)" data-toggle="tooltip"  data-original-title="Delete" (click)="deleteUser(user)"> <i class="fa fa-close text-danger cursor"></i> </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div *ngIf="!filtro.value">
          <button class="btn btn-secondary"(click)="changePage(-5)" >Anterior</button>
          &nbsp;
          <button class="btn btn-secondary" (click)="changePage(5)">Siguiente</button>
        </div>
      </div>
    </div>
  </div>
</div>

